.login_main_div {
  border: 2px solid red;
  width: 25%;
  /* height: 400px; */
  margin: auto;
  margin-top: 50px;
  background-color: aqua;
}
.login_main_div > input {
  width: 80%;
  height: 30px;
  margin-left: 20px;
}
.login_main_div > label {
  display: inline-block;
  padding: 0px 5px 15px 30px;
}
.Loinbutton {
  height: 30px;
  width: 100px;
  margin-top: 20px;
  margin-left: 130px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: blue;
}
.loginh3 {
  text-align: center;
}
