body {
  background-color: #fe977f;
}
.login_main_div {
  /* border: 2px solid red; */
  width: 30%;
  /* height: 400px; */
  margin: auto;
  margin-top: 50px;
  background-color: #cde4f4;
  border-radius: 8px;
}
.login_main_div > input {
  width: 80%;
  height: 30px;
  margin-left: 20px;
}
.login_main_div > label {
  display: inline-block;
  padding: 0px 5px 15px 30px;
}
.Loinbutton {
  height: 30px;
  width: 100px;
  margin-top: 20px;
  margin-left: 180px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: blue;
}
.loginh3,
.registerh3 {
  text-align: center;
}

/*Register Css*/

.registerdiv {
  /* border: 2px solid red; */
  width: 30%;
  margin: auto;
  background-color: #cde4f4;
  border-radius: 2px;
}
.registerform > label {
  display: inline-block;
  padding: 5px 5px 10px 50px;
}
.registerform > input {
  width: 70%;
  height: 30px;
  margin-left: 50px;
}
.submit_input {
  margin-top: 15px;
  position: relative;
  top: 50%;
  left: 30%;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  background-color: darkgoldenrod;
}
/* notice bord page*/

.notice_bord_main_div {
  /* border: 2px solid white; */
  width: 70%;
  /* height: 500px; */
  margin: auto;
  margin-top: 20px;
}

.notice_header_div {
  width: 60%;
  /* border: 2px solid yellow; */
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.notice_header_div > p {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
}
.notice_textarea_div {
  width: 40%;
  /* border: 2px solid yellow; */
  margin: auto;
}
.notice_submit_button {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
}

/**/

.notice_view_div {
  /* border: 2px solid green; */
  width: 70%;
  margin: auto;
}
.root_table {
  word-break: break-all;
  padding: 5px;
}
.root_table,
td,
tr {
  border: 1px solid black;
}
.table_text_tag {
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}
.table_row_text {
  font-weight: 500;
  font-size: small;
}
.table_header_row_text {
  font-weight: bold;
}
